.items{
  position: relative;
  text-align: center;
  width: 150px;
  height: 250px;
  overflow: scroll;
}

/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #4ff;
}

a:hover {
  color: #7f4dd2;
}

.footer {
  background-color: #555;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

/*.space {
  margin: 15px 0;
}*/

.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  border: 0;
  padding: 0;
  height: 0;
  width: 75%;
  margin: 0 auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}
<<<<<<< HEAD
=======

/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}

.App-title {
  text-align: left;
  font-size: 1.5em;
}

.App-header {
  background-color: #222;
  height: 21px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}
>>>>>>> 357e8ce203006ecfd045a8399e3da8fc9b326c91
